body {
    text-align: center;
}

.line {
    content: "";
    display: block;
    width: 150px;
    border-bottom: 1px solid black;
    margin: 20px auto;
}

textarea {
    width: 400px;
    height: 200px;
}

input.title {
    width: 300px;
}